In [1]:
import numpy as np
import pandas as pd
import math
from sklearn import datasets

In [2]:
iris = datasets.load_iris()
df = pd.DataFrame(iris.data)
df.columns = ["sl", "sw", 'pl', 'pw']

In [3]:
#Function to find label for a value
#if MIN_Value <=val < (m + Mean_Value) / 2 then it is assigned label a
#if (m + Mean_Value) <=val < Mean_Value then it is assigned label b
#if (Mean_Value) <=val < (Mean_Value + MAX_Value)/2 then it is assigned label c
#if (Mean_Value + MAX_Value)/2 <=val <= MAX_Value  then it is assigned label d

def label(val, *boundaries):
    if (val < boundaries[0]):
        return 'a'
    elif (val < boundaries[1]):
        return 'b'
    elif (val < boundaries[2]):
        return 'c'
    else:
        return 'd'

#Function to convert a continuous data into labelled data
#There are 4 lables  - a, b, c, d
def toLabel(df, old_feature_name):
    second = df[old_feature_name].mean()
    minimum = df[old_feature_name].min()
    first = (minimum + second)/2
    maximum = df[old_feature_name].max()
    third = (maximum + second)/2
    return df[old_feature_name].apply(label, args= (first, second, third))

In [4]:
df['sl_labeled'] = toLabel(df, 'sl')
df['sw_labeled'] = toLabel(df, 'sw')
df['pl_labeled'] = toLabel(df, 'pl')
df['pw_labeled'] = toLabel(df, 'pw')
df

      sl   sw   pl   pw sl_labeled sw_labeled pl_labeled pw_labeled
0    5.1  3.5  1.4  0.2          b          c          a          a
1    4.9  3.0  1.4  0.2          a          b          a          a
2    4.7  3.2  1.3  0.2          a          c          a          a
3    4.6  3.1  1.5  0.2          a          c          a          a
4    5.0  3.6  1.4  0.2          a          c          a          a
..   ...  ...  ...  ...        ...        ...        ...        ...
145  6.7  3.0  5.2  2.3          c          b          c          d
146  6.3  2.5  5.0  1.9          c          a          c          d
147  6.5  3.0  5.2  2.0          c          b          c          d
148  6.2  3.4  5.4  2.3          c          c          d          d
149  5.9  3.0  5.1  1.8          c          b          c          c

[150 rows x 8 columns]

In [5]:
df.drop(['sl', 'sw', 'pl', 'pw'], axis = 1, inplace = True)
set(df['sl_labeled'])

{'a', 'b', 'c', 'd'}

In [6]:
class TreeNode:
    def __init__(self, data,output):
        # data is the feature upon which the node is going to split when fitting the training data and it is none for leaf node.
        self.data = data
        # i am storing the children of a node as a dictionary where key = value of feature upon which the node has splitted
        # and the corresponding value stores the child TreeNode
        self.children = {} #dictionary as mentioned above
        # output represents the class with current majority at this instance of the decision tree
        self.output = output
        # "index" variable assigns a perticular index to each node
        self.index = -1
        
    def add_child(self,feature_value,object):
        self.children[feature_value] = object